In [1]:
#import libraries
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestRegressor #random forest algorithm
from sklearn import cross_validation, metrics   #Additional scklearn functions
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.grid_search import GridSearchCV   #Perforing grid search for parameters tuning
import matplotlib.pyplot as plt
from matplotlib.pylab import rcParams # para graficar las variables m√°s importantes para el modelo
from sklearn.cross_validation import train_test_split # para separar los data sets.

In [2]:
#importar datos 

file= 'train.csv'
datos=pd.read_csv(file,
                       header=0,
                       sep=',',
                       parse_dates=False,
                       skip_blank_lines=True)
datos

C:\Users\Edu\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1
5,6,5,2015-07-31,5651,589,1,1,0,1
6,7,5,2015-07-31,15344,1414,1,1,0,1
7,8,5,2015-07-31,8492,833,1,1,0,1
8,9,5,2015-07-31,8565,687,1,1,0,1
9,10,5,2015-07-31,7185,681,1,1,0,1
10,11,5,2015-07-31,10457,1236,1,1,0,1
11,12,5,2015-07-31,8959,962,1,1,0,1
12,13,5,2015-07-31,8821,568,1,1,0,0
13,14,5,2015-07-31,6544,710,1,1,0,1
14,15,5,2015-07-31,9191,766,1,1,0,1
15,16,5,2015-07-31,10231,979,1,1,0,1
16,17,5,2015-07-31,8430,946,1,1,0,1
17,18,5,2015-07-31,10071,936,1,1,0,1
18,19,5,2015-07-31,8234,718,1,1,0,1
19,20,5,2015-07-31,9593,974,1,1,0,0
20,21,5,2015-07-31,9515,682,1,1,0,1
21,22,5,2015-07-31,6566,633,1,1,0,0
22,23,5,2015-07-31,7273,560,1,1,0,1
23,24,5,2015-07-31,14190,1082,1,1,0,1
24,25,5,2015-07-31,14180,1586,1,1,0,1
25,26,5,2015-07-31,7818,611,1,1,0,1
26,27,5,2015-07-31,13213,1263,1,1,0,1
27,28,5,2015-07-31,7301,663,1,1,0,1
28,29,5,2015-07-31,9411,737,1,1,0,1
29,30,5,2015-07-31,4776,625,1,1,0,1
...,...,...,...,...,...,...,...,...,...
1017179,1086,2,2013-01-01,0,0,0,0,a,1
1017180,1087,2,2013-01-01,0,0,0,0,a,1
1017181,1088,2,2013-01-01,0,0,0,0,a,1
1017182,1089,2,2013-01-01,0,0,0,0,a,1
1017183,1090,2,2013-01-01,0,0,0,0,a,1
1017184,1091,2,2013-01-01,0,0,0,0,a,1
1017185,1092,2,2013-01-01,0,0,0,0,a,1
1017186,1093,2,2013-01-01,0,0,0,0,a,1
1017187,1094,2,2013-01-01,0,0,0,0,a,1
1017188,1095,2,2013-01-01,0,0,0,0,a,1
1017189,1096,2,2013-01-01,0,0,0,0,a,1
1017190,1097,2,2013-01-01,5961,1405,1,0,a,1
1017191,1098,2,2013-01-01,0,0,0,0,a,1
1017192,1099,2,2013-01-01,0,0,0,0,a,1
1017193,1100,2,2013-01-01,0,0,0,0,a,1
1017194,1101,2,2013-01-01,0,0,0,0,a,1
1017195,1102,2,2013-01-01,0,0,0,0,a,1
1017196,1103,2,2013-01-01,0,0,0,0,a,1
1017197,1104,2,2013-01-01,0,0,0,0,a,1
1017198,1105,2,2013-01-01,0,0,0,0,a,1
1017199,1106,2,2013-01-01,0,0,0,0,a,1
1017200,1107,2,2013-01-01,0,0,0,0,a,1
1017201,1108,2,2013-01-01,0,0,0,0,a,1
1017202,1109,2,2013-01-01,0,0,0,0,a,1
1017203,1110,2,2013-01-01,0,0,0,0,a,1
1017204,1111,2,2013-01-01,0,0,0,0,a,1
1017205,1112,2,2013-01-01,0,0,0,0,a,1
1017206,1113,2,2013-01-01,0,0,0,0,a,1
1017207,1114,2,2013-01-01,0,0,0,0,a,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1

In [3]:
datos.describe()

,Store,DayOfWeek,Sales,Customers,Open,Promo,SchoolHoliday
count,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06
mean,5.584297e+02,3.998341e+00,5.773819e+03,6.331459e+02,8.301067e-01,3.815145e-01,1.786467e-01
std,3.219087e+02,1.997391e+00,3.849926e+03,4.644117e+02,3.755392e-01,4.857586e-01,3.830564e-01
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.800000e+02,2.000000e+00,3.727000e+03,4.050000e+02,1.000000e+00,0.000000e+00,0.000000e+00
50%,5.580000e+02,4.000000e+00,5.744000e+03,6.090000e+02,1.000000e+00,0.000000e+00,0.000000e+00
75%,8.380000e+02,6.000000e+00,7.856000e+03,8.370000e+02,1.000000e+00,1.000000e+00,0.000000e+00
max,1.115000e+03,7.000000e+00,4.155100e+04,7.388000e+03,1.000000e+00,1.000000e+00,1.000000e+00

In [4]:
#tratar variables cualitativas
 # variable "StateHoliday"
datos['StateHoliday']=datos.StateHoliday.map({'0':0,'a':1,'b':2,'c':3})
datos

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0.0,1
1,2,5,2015-07-31,6064,625,1,1,0.0,1
2,3,5,2015-07-31,8314,821,1,1,0.0,1
3,4,5,2015-07-31,13995,1498,1,1,0.0,1
4,5,5,2015-07-31,4822,559,1,1,0.0,1
5,6,5,2015-07-31,5651,589,1,1,0.0,1
6,7,5,2015-07-31,15344,1414,1,1,0.0,1
7,8,5,2015-07-31,8492,833,1,1,0.0,1
8,9,5,2015-07-31,8565,687,1,1,0.0,1
9,10,5,2015-07-31,7185,681,1,1,0.0,1
10,11,5,2015-07-31,10457,1236,1,1,0.0,1
11,12,5,2015-07-31,8959,962,1,1,0.0,1
12,13,5,2015-07-31,8821,568,1,1,0.0,0
13,14,5,2015-07-31,6544,710,1,1,0.0,1
14,15,5,2015-07-31,9191,766,1,1,0.0,1
15,16,5,2015-07-31,10231,979,1,1,0.0,1
16,17,5,2015-07-31,8430,946,1,1,0.0,1
17,18,5,2015-07-31,10071,936,1,1,0.0,1
18,19,5,2015-07-31,8234,718,1,1,0.0,1
19,20,5,2015-07-31,9593,974,1,1,0.0,0
20,21,5,2015-07-31,9515,682,1,1,0.0,1
21,22,5,2015-07-31,6566,633,1,1,0.0,0
22,23,5,2015-07-31,7273,560,1,1,0.0,1
23,24,5,2015-07-31,14190,1082,1,1,0.0,1
24,25,5,2015-07-31,14180,1586,1,1,0.0,1
25,26,5,2015-07-31,7818,611,1,1,0.0,1
26,27,5,2015-07-31,13213,1263,1,1,0.0,1
27,28,5,2015-07-31,7301,663,1,1,0.0,1
28,29,5,2015-07-31,9411,737,1,1,0.0,1
29,30,5,2015-07-31,4776,625,1,1,0.0,1
...,...,...,...,...,...,...,...,...,...
1017179,1086,2,2013-01-01,0,0,0,0,1.0,1
1017180,1087,2,2013-01-01,0,0,0,0,1.0,1
1017181,1088,2,2013-01-01,0,0,0,0,1.0,1
1017182,1089,2,2013-01-01,0,0,0,0,1.0,1
1017183,1090,2,2013-01-01,0,0,0,0,1.0,1
1017184,1091,2,2013-01-01,0,0,0,0,1.0,1
1017185,1092,2,2013-01-01,0,0,0,0,1.0,1
1017186,1093,2,2013-01-01,0,0,0,0,1.0,1
1017187,1094,2,2013-01-01,0,0,0,0,1.0,1
1017188,1095,2,2013-01-01,0,0,0,0,1.0,1
1017189,1096,2,2013-01-01,0,0,0,0,1.0,1
1017190,1097,2,2013-01-01,5961,1405,1,0,1.0,1
1017191,1098,2,2013-01-01,0,0,0,0,1.0,1
1017192,1099,2,2013-01-01,0,0,0,0,1.0,1
1017193,1100,2,2013-01-01,0,0,0,0,1.0,1
1017194,1101,2,2013-01-01,0,0,0,0,1.0,1
1017195,1102,2,2013-01-01,0,0,0,0,1.0,1
1017196,1103,2,2013-01-01,0,0,0,0,1.0,1
1017197,1104,2,2013-01-01,0,0,0,0,1.0,1
1017198,1105,2,2013-01-01,0,0,0,0,1.0,1
1017199,1106,2,2013-01-01,0,0,0,0,1.0,1
1017200,1107,2,2013-01-01,0,0,0,0,1.0,1
1017201,1108,2,2013-01-01,0,0,0,0,1.0,1
1017202,1109,2,2013-01-01,0,0,0,0,1.0,1
1017203,1110,2,2013-01-01,0,0,0,0,1.0,1
1017204,1111,2,2013-01-01,0,0,0,0,1.0,1
1017205,1112,2,2013-01-01,0,0,0,0,1.0,1
1017206,1113,2,2013-01-01,0,0,0,0,1.0,1
1017207,1114,2,2013-01-01,0,0,0,0,1.0,1
1017208,1115,2,2013-01-01,0,0,0,0,1.0,1

In [5]:
data_type=pd.DataFrame(datos.dtypes,columns=['Data type'])
data_type

              Data type
Store             int64
DayOfWeek         int64
Date             object
Sales             int64
Customers         int64
Open              int64
Promo             int64
StateHoliday    float64
SchoolHoliday     int64

In [6]:
%matplotlib inline

In [7]:
def random_forest(Data_set,n,d,s):
    datos=Data_set
    #dividir train,cross y tst
    porcentaje_datos_t=.6
    porcentaje_datos_c=.8
    ind=round(porcentaje_datos_t*len(datos))
    ind=int(ind)
    ind2=round(porcentaje_datos_c*len(datos))
    ind2=int(ind2)
    data_train=datos.iloc[0:ind,:]
    data_cross=datos.iloc[ind:ind2,:]
    data_test=datos.iloc[ind2:len(datos),:]

    #separar "x,y"
    Y_train=data_train.iloc[:,3:4]
    X_t=data_train.ix[:, data_train.columns != 'Sales']
    X_train=X_t.ix[:, X_t.columns != 'Date']

    Y_cross=data_cross.iloc[:,3:4]
    X_c=data_cross.ix[:, data_cross.columns != 'Sales']
    X_cross=X_c.ix[:, X_c.columns != 'Date']

    Y_test=data_test.iloc[:,3:4]
    X_te=data_test.ix[:, data_test.columns != 'Sales']
    X_test=X_te.ix[:, X_te.columns != 'Date']
    
    #entrenar modelo con training data set
    
    model=RandomForestRegressor(n_estimators=n,max_depth=d,min_samples_split=s,random_state=0)
    model.fit(X_train,Y_train)# entrenar el modelo                                    
    
    # hacer predicciones de cross-validation data set
    
    Yg=model.predict(X_cross_)
    
    print('\t numero arboles %1.3f' %n)
    print('\t maxima profundidad: %1.3f' %d)
    print('\t min_split: %1.3f' %s)
    print ('\t mean squared error: %1.3f' %mean_squared_error(Y_cross,Yg))                                                   
    
    # hacer predicciones de test data set
    
    Yg2=model.predict(X_test)
    
    print('\t numero arboles %1.3f' %n)
    print('\t maxima profundidad: %1.3f' %d)
    print('\t min_split: %1.3f' %s)
    print ('\t mean squared error: %1.3f' %mean_squared_error(Y_test,Yg2)) 
    
    #numvariables=np.shape(x_cross_redu)
  
    return   mean_squared_error(Y_cross,Yg),mean_squared_error(Y_test,Yg2)

In [8]:
resultados=np.zeros((60,2))
i=0
for n in range(80,130,10):
    for d in range(5,8,1):
        for s in range(0,5,1):
            resultados[i,0],resultados[i,1]=random_forest(datos,n,d,s)
            i=i+1

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').